body {
    padding: 5px;
    justify-content: center;
}

.list {
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.playlist {
    margin-left: 10%;
    border: blue solid 1px;
}

.track {
    margin-left: 10%;
    border: black solid 1px;
}

.user {
    background-color: aliceblue;
}